$site-theme-color: white;
$site-color: invert($site-theme-color);


$grid-gutter-width: 20px;

$font-serif: 'Spectral', serif;
$font-family-default: 'Inter', sans-serif;

$nav-height: 6rem;

$header-article-height: 350px;
