// colors
$site-theme-color: white;
$site-color: invert($site-theme-color);

// grid
$line-height: 24px;
$grid-gutter-width: $line-height;

// font
$font-serif: 'Spectral', serif;
$font-family-default: 'Inter', sans-serif;

$nav-height: 6rem;

$header-article-height: 350px;
