.v-app__article-content {
  //position: relative;
  //width: calc(100% / 20 * 16);
  //margin: auto;
  //
  //p, h4, h5, h6 {
  //  width: calc(100% / 16 * 14);
  //  margin-left: auto;
  //  margin-right: auto;
  //}
  //
  //img {
  //  display: block;
  //  width: calc(100% / 14 * 16);
  //  height: auto;
  //  position: relative;
  //  margin-left: calc(-100% / 14);
  //}

  margin: auto;
  @include grid-coll-number(10, 12);
  @include grid-gap-left-coll(2, 12);
  font-size: 20px;
  line-height: 25px;

  > * {
    @include grid-coll-number(8, 10);
  }

  .l-page__intro, .l-page__credit, .l-page__date {
    width: 100%;
  }

  .l-page__credit {
    font-family: $font-family-title;
    text-align: right;
    font-weight: 600;
    font-size: 45px;
    line-height: 50px;

    > * {
      margin: 0;
    }
  }

  .l-page__date {
    font-family: $font-family-title;
    text-align: right;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    margin-top: 1rem;

    > * {
      margin: 0;
    }
  }

  img {
    display: block;
    height: auto;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  a {
    color: inherit;

    > svg {
      display: none;
    }
  }
}

.ts-img-container {
  display: flex;
  flex-wrap: nowrap;
}

.ts-img-container__left,
.ts-img-container__right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;

  img {
    margin: 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  img + img {
    margin-top: 10px;
  }
}

.ts-img-container__left {
  padding-right: 5px;
}

.ts-img-container__right {
  padding-left: 5px;
}
