@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: $site-theme-color;
  color: $site-color;
}

body {
  font-family: $font-family-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
  box-sizing: border-box;

  font-size: $font-regular--size;
  line-height: $font-regular--line-height;
  font-weight: $font-regular--weight;
}

h6 {
  @include font-small;
}

h5 {
  @include font-semi-small;
}

p {
  @include font-regular;
}

h4 {
  @include font-medium;
}

h3 {
  @include font-semi-bold;
}

.test-bold {
  @include font-bold;
}

h2 {
  @include font-extra-bold;
}

h1 {
  @include font-expend;
}
