.l-app-content {
  max-width: 1280px;
  box-sizing: border-box;
  margin: auto;
  min-height: calc( 100vh - #{$nav-height + $footer-height} );

  > section {
    position: relative;
  }

}

.l-app-content__title {
  @include font-6;

  max-width: 8em;
  box-sizing: border-box;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  margin-top: 0;
  margin-bottom: $line-height;
}
