.l-app-content {
  max-width: 1280px;
  box-sizing: border-box;
  margin: auto;
  min-height: calc( 100vh - #{$nav-height + $footer-height} );

  > section {
    position: relative;
  }

}

.l-app-content__title {
  @include font-expend;
  margin-top: 0px;
  margin-bottom: 0px;
}
