.l-ui-link-no-style {
  color: inherit;
  text-decoration: none;
}

.l-ui-link {
  @extend .l-ui-link-no-style;
  text-decoration: underline;
  cursor: pointer;
}

.l-ui-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
